.profile__image {
  margin-right: 30px;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 580px) {
  .profile__image {
    max-width: 118px;
    margin: 0 0 26px;
  }
}
