.elements__item {
  max-width: 282px;
  height: 362px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 917px) {
  .elements__item:nth-child(2n-1) {
    justify-self: end;
  }

  .elements__item:nth-child(2n) {
    justify-self: start;
  }
}

@media screen and (max-width: 618px) {
  .elements__item:nth-child(1n) {
    justify-self: center;
  }
}
